.welcome {
    width: 350px;
    height: 220px;
    margin-top: 15px;
        margin-left: 10px;
        padding-bottom: 20px;
        margin-right: 10px;
        margin-bottom: 30px;
       border: 2px dashed red;
        background-color: green;
        border-radius: 50%;
}

.title {
    color: cornflowerblue;
    font-family: "Edu NSW ACT Cursive", cursive;
        font-weight:400;
        font-style: normal;
}